html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 30px;
    color: #000;
    line-height: 28px;
}

.breadcrumbs {
    &__inner {
        text-align: center;
        overflow: hidden;
        width: 1170px;
    }
    &__list {
        li {
            display: inline-block;
            & + li {
                padding-left: 24px;
                position: relative;
                &::before {
                    content: "/";
                    position: absolute;
                    left: 8px;
                    color: #fff;
                }
            }
            &:last-child {
                a,
                span {
                    color: #bfcad7;
                }
            }
        }
        a {
            color: #fff;
        }
    }
}