@media (max-width: 1200px) {
    .menu__list {
        .pages__menu {
            width: 800px;
            left: -300px;
            .pages__menu-item + .pages__menu-item {
                margin-left: 0px;
            }
        }
        .pages__menu-item {
            margin-top: 20px;
        }
    }
    .search__inner-shadow {
        max-width: 970px;
    }
    .search__inner-shadow-2 {
        max-width: 940px;
    }
    .search__inner {
        max-width: 1000px;
    }
    .search__inner-form {
        input {
            max-width: 460px;
        }
    }
    .product-slider__item {
        &-content {
            padding: 30px 40px 30px 35px;
        }
    }
    .products__inner-btn {
        button {
            margin-top: 10px;
        }
    }
    .products__item {
        max-width: 100%;
        flex-basis: calc(50% - 45px);
        margin-left: 45px;
        &-img {
            img {
                max-width: 100%;
                width: 100%;
                height: 300px;
            }
        }
        .products__item-img:hover .item-img__list {
            height: 100%;
        }
    }
    .followerslist {
        .followerslist__inner {
            margin-left: 0px;
            transform: translateX(0px);
        }
        .slick-slide {
            margin-right: 30px;
            transform: translateX(15px);
        }
    }
    .benefits {
        .benefits__inner {
            justify-content: space-around;
        }
    }
    .news {
        .news__inner {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .news__item  + .news__item {
            margin-left: 10px;
        }
        .news__item  {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1000px) {
    .menu__list {
        .pages__menu {
            width: 800px;
            left: -400px;
        }
    }
    .search__inner-shadow {
        max-width: 870px;
    }
    .search__inner-shadow-2 {
        max-width: 840px;
    }
    .search__inner {
        max-width: 900px;
    }
    .search__inner-form {
        input {
            max-width: 360px;
        }
    }
    .advantages__item {
        padding: 20px;
    }
    .product-slider__item {
        &-content {
            padding: 20px 40px 20px 35px;
        }
        .product-slider__item-info {
            margin-bottom: 15px;
        }
        .product-slider__item-text {
            margin-bottom: 15px;
        }
    }
    .feedback__inner {
        flex-direction: column;
        .feedback__item + .feedback__item {
            margin-left: 0;
        }
        .feedback__item {
            width: 100%;
        }
    }
    .footer {
        &__inner {
            flex-wrap: wrap;
            .footer__col + .footer__col {
                margin-left: 10px;
            }
        }
    }
}

@media (max-width: 900px) {
    .menu__list li + li {
        margin-left: 15px;
    }
    .menu__list {
        .pages__menu {
            width: 700px;
            left: -300px;
            .pages__menu-item .pages__menu-list ul {
                width: 185px;
            }
        }
    }
    .search__inner-shadow {
        max-width: 770px;
    }
    .search__inner-shadow-2 {
        max-width: 740px;
    }
    .search__inner {
        max-width: 800px;
    }
    .search__inner-form {
        input {
            max-width: 260px;
        }
    }
    .advantages__inner {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 840px) {
    .menu__btn {
        display: block;
        width: 30px;
        cursor: pointer;
        div {
            background-color: #000;
            height: 3px;
            & + div {
                margin-top: 5px;
            }
        }
    }
    .menu__list {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 180px;
        left: 0;
        right: 0;
        z-index: 5;
        text-align: center;
        padding-bottom: 30px;
        a {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
        }
        .icon-down {
            position: relative;
            &::after {
                content: "\e881";
                position: absolute;
                font-family: "Linearicons-Free";
                right: 20%;
            }
        }
        .drop-down {
            .menu__drop-down {
                display: none;
            }
            .active {
                display: block;
            }
        }
        li {
            display: block;
            & + li {
                margin-left: 0;
            }
        }
        .home__menu,
        .allproducts__menu,
        .wordpress__menu,
        .pages__menu {
            width: 100%;
            left: 0;
            right: 0;
            .pages__menu-item {
                .pages__menu-title {
                    padding: 0 10px 10px 0;
                }
                .pages__menu-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
            .pages__menu-item .pages__menu-list a {
                height: 35px;
                font-size: 14px;
                line-height: 14px;
            }
            .pages__menu-item .pages__menu-list ul + ul {
                margin-left: 10px;
            }
        }
    }
    .menu__list li:hover .pages__menu {
        padding: 10px;
    }
    .product-slider__item {
        &-content {
            padding: 20px;
        }
    }
}

@media (max-width: 800px) {
    .header__btn-menu {
        display: block;
        background-color: $purple;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        &::before {
            font-family: 'Linearicons-Free';
            font-size: 50px;
            color: #fff;
        }
    }
    .header__top-box {
        width: 200px;
        position: absolute;
        right: 150%;
        text-align: center;
        flex-direction: column-reverse;
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        padding: 10px 10px 30px 10px;
        border-radius: 4px;
        z-index: 5;
        transition: all .5s;
        &.active {
            right: 115px;
            top: 0;
        }
        .header__top-infoo {
            display: flex;
            .notification,
            .message,
            .basket {
                margin: 0;
            }
            .message,
            .basket {
                margin-left: 10px;
            }
            .basket__box,
            .notification__box,
            .message__box {
                &:hover {
                    .circle__menu {
                        height: 0;
                        border: none;
                    }
                    &::before {
                        content: "";
                        display: none;
                    }
                }
            }
        }
        .header__top-btn {
            margin: 0;
        }
        .user__box {
            .user__menu {
                right: -15px;
            }
            &:hover {
                .user__menu {
                    width: 200px;
                    height: auto;
                    border-width: 1px;
                    padding: 10px;
                    overflow: auto;
                    transition: all 0.3s;
                }
                &::before {
                    content: "";
                    position: absolute;
                    right: 50%;
                    top: 90px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #0674ec;
                    bottom: 100%;
                }
            }
        }
    }
    .create__inner  {
        padding: 100px 0;
        &-title {
            font-size: 50px;
            line-height: 60px;
        }
    }
    .search {
        display: none;
    }
    .product-slider__item {
        height: 100%;
        flex-direction: column;
        .product-slider__item-img {
            max-width: 100%;
            width: 100%;
        }
        &-content {
            max-width: 100%;
            padding: 20px 20px 0px 20px;
        }
    }
    .products__item {
        max-width: 100%;
        flex-basis: calc(100%);
        &-img {
            img {
                height: 327px;
            }
        }
    }
    .followerslist {
        .slick-slide {
            margin-right: 0px;
            transform: translateX(0px);
        }
        .slick-prev {
            right: 85px;
        }
    
        .slick-next {
            right: 40px;
        }
    }
    .benefits__item {
        max-width: 100%;
        width: 100%;
    }
    .proposal__inner {
        flex-direction: column;
        .proposal__item {
            width: 100%;
        }
    }
    .news {
        .news__item  + .news__item {
            margin-left: 10px;
        }
        .news__item  {
            max-width: 100%;
            width: 100%;
            &-img {
                img {
                    max-width: 100%;
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
    .privilege__inner {
        flex-direction: column;
        .privilege__item {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .product-slider {
        padding: 70px 0;
    }
    .products {
        padding: 70px 0;
        .title {
            font-size: 25px;
        }
    }
    .products__inner-btn {
        justify-content: space-around;
        button {
            width: 33%;
        }
    }
    .counter__inner {
        flex-wrap: wrap;
        .counter__item {
            width: 50%;
            margin-top: 20px;
        }
    }
    .followerslist,
    .feedback,
    .news,
    .benefits {
        padding: 70px 0;
    }
    .join__inner-title {
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .create__inner  {
        &-title {
            font-size: 40px;
            line-height: 50px;
        }
        &-text {
            font-size: 15px;
        }
        &-btn {
            a {
                width: 100%;
                & + a {
                    margin-left: 0px;
                    margin-top: 30px;
                }
            }
        }
    }
    .product-slider__title {
        padding: 20px 30px;
    }
    .title {
        font-size: 25px;
    }
    .products__inner-btn {
        justify-content: center;
        button {
            width: 100%;
        }
    }
    .products__filter-box {
        padding: 20px;
    }
    .feedback__inner {
        .feedback__item {
            &-author {
                span {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .menu-search__form {
        margin-left: 10px;
        input {
            padding-right: 55px;
        }
        button {
            width: 45px;
        }
    }
    .products {
        .title {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .products__filter-box {
            flex-direction: column;
        }
    }
}

@media (max-width: 400px) {
    .header__logo {
        img {
            width: 150px;
            object-fit: cover;
        }
    }
    .pages__menu {
        .pages__menu-item {
            width: 100%;
            margin-top: 5px;
        }
    }
    .create__inner  {
        &-title {
            font-size: 35px;
            line-height: 40px;
        }
    }
    .product-slider__item {
        &-content {
            .lnr-heart {
                display: none;
            }
            .product-slider__item-category {
                a + a {
                    margin-left: 0;
                }
                a {
                    padding: 3px 7px;
                }
            }
            .product-slider__price-box {
                .product-slider__item-list {
                    span + span {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .product-slider__title {
        padding: 15px 20px;
    }
    .title {
        font-size: 20px;
    }
    .products__price-box .products__item-list .lnr-heart {
        display: none;
    }
    .news {
        .news__item-info {
            padding: 10px 15px;
        }
    }
}





@media (min-width: 840px) {
    .menu__list {
        display: block !important;
    }
}
