@import "vars";
@import "global";
@import "fonts";

// start header
.header__top {
    background-color: $bg;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__top-box {
    display: flex;
    align-items: center;
    .notification,
    .message,
    .basket {
        font-family: "Linearicons-Free";
        font-size: 20px;
        color: #7e8fa1;
    }
    .header__circle {
        position: relative;
        width: 35px;
        height: 35px;
        span {
            font-family: "Quicksand", sans-serif;
            font-weight: 500;
            position: absolute;
            min-width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            padding: 1px;
            right: -3px;
            top: -13px;
            font-size: 14px;
            color: #fff;
        }
    }
    .notification {
        margin-right: 20px;
        span {
            background-color: $tomato;
        }
    }
    .message {
        margin-right: 20px;
        span {
            background-color: $green;
        }
    }
    .basket {
        margin-right: 25px;
        span {
            background-color: $blue;
        }
    }
    .user {
        &__inner {
            display: flex;
            align-items: center;
        }
        &__images {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }
        &__name {
            color: #333;
            font-weight: 500;
        }
        &__money {
            font-size: 15px;
            color: $blue;
        }
    }
    .user__box {
        &:hover {
            .user__menu {
                height: auto;
                border-width: 1px;
                padding: 20px;
                overflow: auto;
            }
            &::before {
                content: '';
                position: absolute;
                right: 30px;
                top: 90px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #0674ec;
                bottom: 100%;
            }
        }
        .user__menu {
            position: absolute;
            top: 100px;
            right: 0;
            background-color: #fff;
            border-radius: 0 0 4px 4px;
            border-top: 0px solid $blue;
            box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
            padding: 0px;
            height: 0;
            max-width: 270px;
            z-index: 5;
            overflow: hidden;
            transition: all .3s;
            li + li {
                margin-top: 0px;
            }
            li {
                width: 230px;
                padding: 14px 40px 14px 40px;
                font-size: 15px;
                line-height: 15px;
                position: relative;
                a {
                    color: #54667a;
                    &::before {
                        position: absolute;
                        left: 9px;
                        font-family: 'Linearicons-Free';
                    }
                }
                &:hover {
                    background-color: $blue;
                    border-radius: 4px;
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.user__box,
.basket__box,
.notification__box,
.message__box {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    &:hover {
        .circle__menu {
            height: auto;
            border-width: 1px;
            overflow: auto;
        }
        &::before {
            content: '';
            position: absolute;
            right: 35px;
            top: 90px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #0674ec;
            bottom: 100%;
        }
    }
}

.circle__menu {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 0;
    top: 100px;
    border-top: 0px solid $blue;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 0 0 4px 4px;
    right: 0;
    overflow: hidden;
    z-index: 5;
    transition: all .3s;
    .circle__item {
        display: flex;
        padding: 20px 25px 20px 25px;
        border-bottom: 1px solid #e8ebf0;
        &:hover {
            background-color: #f7f8f9;
        }
        .circle__images {
            max-width: 80px;
            max-height: 70px;
            margin-right: 10px;
        }
        .circle__info {
            margin-right: 10px;
            &-name {
                color: #000;
                font-weight: 500;
                line-height: 22px;
            }
            &-thema {
                font-size: 15px;
                padding-left: 20px;
                color: $purple;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }
        .circle__info-price {
            text-align: center;
            .circle__price-btn {
                border: none;
                outline: none;
                background-color: #f1ecf9;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-bottom: 10px;
                cursor: pointer;
                &::before {
                    content: "\e811";
                    font-family: 'Linearicons-Free';
                    color: #818c98;
                }
            }
            .circle__price {
                padding: 5px 12px;
                background-color: #e6f1fd;
                border-radius: 25px;
                line-height: 16px;
                font-weight: 500;
                color: $blue;
            }
        }
    }
    .basket__summ {
        display: flex;
        justify-content: flex-end;
        height: 70px;
        padding: 20px 25px 20px 25px;
        &-title {
            display: flex;
            font-weight: 500;
            font-size: 18px;
            color: #000;
        }
        &-total {
            margin-right: 20px;
        }
    }
    .basket__btn {
        text-align: center;
        width: 50%;
        padding: 20px 10px;
        color: #fff;
        font-size: 15px;
        line-height: 15px;
        border-radius: 0 0 0 4px;
        background-color: $purple;
    }
    .basket__btn-checkout {
        background-color: $blue;
        border-radius: 0 0 4px 0;
    }
}

.message__menu {
    width: 370px;
    .circle__title-box {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .circle__title {
            font-size: 18px;
            color: #000;
        }
        .circle__title-link {
            font-size: 15px;
            color: $blue;
            &:hover {
                color: #000;
            }
        }
    }
    .circle__item {
        border-top: 1px solid #e8ebf0;
        border-bottom: none;
        width: 100%;
    }
    .circlr__images {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 3px;
        margin-right: 14px;
        border: 1px solid #3a2c29;
    }
    .circle__content {
        position: relative;
        span {
            position: absolute;
            top: 0;
            right: -18px;
            font-size: 14px;
            line-height: 20px;
            color: $blue;
        }
    }
    .circle__name {
        font-weight: 500;
        line-height: 20px;
        color: #333;
        &::after {
            content: "\e818";
            font-family: 'Linearicons-Free';
            margin-left: 10px;
            color: $blue;
            font-size: 15px;
        }
    }
    .circle__message {
        font-size: 15px;
        color: #555;
    }
    .circle-forwardmessages {
        .circle__name {
            &::after {
                content: "\e860";
                color: #747a86;
            }
        }
        .circle__content {
            span {
                color: #747a86;
            }
        }
    }
    .circle-readmessages {
        .circle__name {
            &::after {
                content: "";
            }
        }
        .circle__content {
            span {
                color: #747a86;
            }
        }
    }
}

.notification__menu {
    width: 370px;
    left: -35px;
    .circle__title-box {
        display: flex;
        justify-content: space-between;
        padding: 25px;
        .circle__title {
            font-size: 18px;
            color: #000;
        }
        .circle__title-link {
            font-size: 15px;
            color: $blue;
            &:hover {
                color: #000;
            }
        }
    }
    .circle__item {
        border-top: 1px solid #e8ebf0;
        border-bottom: none;
        width: 100%;
        display: flex;
        align-items: center;
        .circle__item-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #f1ecf9;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                font-family: 'Linearicons-Free';
            }
        }
        .lnr-heart {
            color: $blue;
        }
        .lnr-bubble {
            color: $purple;
        }
        .lnr-cart {
            color: $tomato;
        }
        .lnr-star {
            color: $green;
        }
    }
    .circlr__images {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 3px;
        margin-right: 14px;
        border: 1px solid #3a2c29;
    }
    .circle__content {
        line-height: 20px;
        width: 235px;
    }
    .circle__name {
        font-weight: 500;
        color: #000;
        span {
            font-size: 15px;
            color: #747a86;
        }
    }
    .circle__message {
        font-size: 15px;
        font-weight: 500;
        color: $blue;
    }
    .circle__date {
        font-size: 14px;
        color: #747a86;
    }
}

.header__top-btn {
    padding: 10px 20px;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-right: 50px;
    a {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
    }
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {
    li {
        display: inline-block;
        & + li {
            margin-left: 30px;
        }
    }
    a {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #333;
    }
}

.header__menu-search {
    max-width: 360px;
    width: 100%;
}

.menu-search__form {
    position: relative;
    input {
        display: block;
        width: 100%;
        height: 45px;
        padding-left: 26px;
        outline: none;
        padding-right: 80px;
        border-radius: 25px;
        border: 1px solid #d9dfe5;
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        font-family: "Linearicons-Free";
        position: absolute;
        color: #fff;
        background-color: $blue;
        border-radius: 25px;
        height: 45px;
        width: 70px;
        outline: none;
        border: none;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}
// end header

// start create
.create {
    background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 80%);
}

.create__inner {
    text-align: center;
    padding: 180px 0 230px;
    max-width: 880px;
    color: $white;
    margin: 0 auto;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 40px;
        span {
            display: block;
            font-weight: 700;
        }
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }
    &-btn {
        a {
            padding: 16px 30px;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 30px;
            &:hover {
                background-color: #fff;
                color: $blue;
                transition: all 0.3s;
            }
            & + a {
                margin-left: 30px;
            }
        }
    }
}
// end create

// start search
.search {
    position: relative;
}

.search__inner-shadow {
    max-width: 1140px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    margin-left: 15px;
    position: absolute;
    bottom: 20px;
    z-index: 4;
}

.search__inner-shadow-2 {
    max-width: 1110px;
    bottom: 35px;
    margin-left: 30px;
}

.search__inner {
    max-width: 1170px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 25px 40px;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    z-index: 5;
}

.search__inner-form {
    text-align: center;
    input {
        max-width: 610px;
        border: 1px solid #dcdcdc;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 55px;
        padding: 0 25px 0 25px;
        color: #606060;
        outline: none;
        width: 100%;
    }
    select {
        position: relative;
        width: 200px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 0 20px 0 20px;
        margin-left: -6px;
        color: #606060;
        height: 55px;
        border: 1px solid #dcdcdc;
        background-image: url("../images/chevron-down.png");
        background-repeat: no-repeat;
        background-position: right 20px center;
        appearance: none;
        outline: none;
        cursor: pointer;
        transition: all 0.5s;
    }
    button {
        margin-left: 28px;
        border-radius: 6px;
        height: 55px;
        background-color: $blue;
        border: none;
        color: #fff;
        outline: none;
        width: 220px;
        cursor: pointer;
    }
}

// end search

// start advantages
.advantages__inner {
    padding-top: 180px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
    max-width: 360px;
    padding: 32px;
    border-radius: 4px;
    transition: all 0.3s;
    &-images {
        margin-bottom: 20px;
        height: 120px;
    }
    &-title {
        margin-bottom: 20px;
        font-size: 24px;
        color: #000;
    }
    &-text {
        color: #555;
    }
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}
// end advantages

// start product-slider

.product-slider {
    background-color: $bg;
    padding-top: 120px;
    padding-bottom: 120px;
    &__title {
        width: 100%;
        padding: 28px 40px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        background-color: #fff;
        margin-bottom: 50px;
        position: relative;
    }
}

.slick-arrow {
    position: absolute;
    border: none;
    outline: none;
    padding: 12px 20px;
    background-color: $purple;
    color: #fff;
    top: -112px;
    z-index: 5;
    cursor: pointer;
}

.slick-prev {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: 75px;
    &::before {
        font-size: 0;
    }
}

.slick-next {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    right: 30px;
    &::before {
        font-size: 0;
    }
}

.product-slider__item {
    display: flex !important;
    align-items: center;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    .product-slider__item-img {
        background-color: #4e5760;
        max-width: 50%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        object-fit: cover;
        height: 450px;
    }
    &-content {
        max-width: 50%;
        height: 450px;
        padding: 45px 50px 0px 45px;
        background-color: #fff;
        .product-slider__item-title {
            font-size: 24px;
            font-weight: 500;
            color: #000;
            margin-bottom: 15px;
        }
        .product-slider__item-info {
            display: flex;
            margin-bottom: 30px;
            .product-slider__info-author {
                display: flex;
                img {
                    width: 32px;
                    height: 32px;
                    border: 1px solid $purple;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .info-author__name {
                    font-size: 15px;
                    color: #000;
                    margin-right: 20px;
                }
            }
            .product-slider__info-category {
                color: $purple;
                padding-left: 26px;
                background-repeat: no-repeat;
                background-position: left 7px;
            }
        }
        .product-slider__item-text {
            color: #555;
            margin-bottom: 25px;
        }
        .product-slider__item-category {
            margin-bottom: 25px;
            a + a {
                margin-left: 6px;
            }
            a {
                color: #868c96;
                font-size: 15px;
                background-color: #f1f3f6;
                border-radius: 25px;
                padding: 5px 10px;
            }
        }
        .product-slider__price-box {
            display: flex;
            align-items: center;
            height: 80px;
            border-top: 1px solid #cecece;
            position: relative;
            .product-slider__item-price {
                background-color: $blue;
                padding: 5px 17px;
                border-radius: 25px;
                color: #fff;
                font-weight: 500;
                font-size: 15px;
                margin-right: 20px;
            }
            .product-slider__item-list {
                .item-list__icon {
                    font-family: "Linearicons-Free";
                    font-size: 15px;
                }
                span + span {
                    margin-left: 20px;
                }
                .lnr-heart {
                    color: $purple;
                    span {
                        color: #555;
                    }
                }
                .lnr-cart {
                    color: $blue;
                }
                span {
                    font-family: "Quicksand", sans-serif;
                    margin-left: 10px;
                }
            }
            .product-slider__item-star {
                position: absolute;
                right: 0;
            }
            .jq-ry-container {
                padding: 0;
            }
        }
    }
}

.jq-ry-normal-group svg {
    fill: #fff;
    stroke: #ffc000;
    stroke-width: 40;
}

.jq-ry-rated-group svg {
    fill: #ffc000;
}

// end product-slider

// start products

.products {
    background-color: #f6f7fb;
    padding-top: 120px;
    padding-bottom: 120px;
}

.products__filter-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 28px 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    margin-bottom: 28px;
    .products__filter {
        position: relative;
    }
    .products__bottom-btn {
        background-image: url("../images/icons/filter.png");
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        outline: none;
        height: 20px;
        margin: 0;
        width: 5px;
        background-color: transparent;
        position: absolute;
        top: 7px;
        cursor: pointer;
    }
}

.products__inner-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    padding: 28px 40px;
    margin-bottom: 50px;
    button + button {
        margin-left: 10px;
    }
    button {
        border: none;
        outline: none;
        background-color: #f1f3f6;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 25px;
        color: #747b86;
        cursor: pointer;
        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
        }
    }
}

.products__inner-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
}

.products__item {
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    margin-bottom: 45px;
    flex-basis: calc(33.33333% - 45px);
    margin-left: 45px;
    &-img {
        position: relative;
        img {
            max-width: 360px;
            height: 230px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        .item-img__list {
            position: absolute;
            bottom: 9px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background-image: linear-gradient(
                270deg,
                rgb(6, 116, 236) 0%,
                rgb(61, 94, 215) 46%,
                rgb(115, 71, 193) 100%
            );
            display: flex;
            height: 0;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow: hidden;
            transition: all 0.5s;
            a + a {
                margin-left: 10px;
            }
            a {
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                border: 1px solid #fff;
                border-radius: 25px;
                padding: 10px 30px;
                &:hover {
                    background-color: #fff;
                    color: $blue;
                    transition: all 0.3s;
                }
            }
        }
    }
    .products__item-img:hover .item-img__list {
        height: 230px;
    }
}

.products__item-content {
    padding: 20px 30px 30px 30px;
}

.products__item-title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 18px;
}

.products__item-info {
    display: flex;
    margin-bottom: 20px;
    .products__info-author {
        display: flex;
        margin-right: 20px;
        font-size: 15px;
        .info-author__img {
            width: 30px;
            margin-right: 7px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $purple;
            }
        }
        .info-author__name {
            color: #000;
        }
    }
    .products__info-category {
        padding-left: 26px;
        color: $purple;
        background-repeat: no-repeat;
        background-position: left 7px;
    }
}

.products__item-text {
    color: #555;
}

.products__price-box {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
    position: relative;
    padding: 15px 30px;
    .products__item-price {
        padding: 9px 18px;
        color: $blue;
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        margin-right: 13px;
        background-color: #e6f1fd;
        border-radius: 25px;
        position: relative;
    }
    .products__item-list {
        display: flex;
        .lnr-heart {
            color: $purple;
            margin-right: 15px;
            span {
                margin-left: 8px;
                color: #6f7d8d;
            }
        }
        .lnr-cart {
            color: $blue;
            position: absolute;
            right: 20px;
            span {
                margin-left: 8px;
            }
        }
    }
    .products__item-star {
        display: flex;
        align-items: center;
    }
}

.products__bottom-btn {
    margin-top: 15px;
    text-align: center;
    button {
        background-color: $blue;
        color: #fff;
        padding: 17px 30px;
        border: none;
        outline: none;
        line-height: 16px;
        border-radius: 25px;
        cursor: pointer;
    }
}

// end products

// start followerslist

.followerslist {
    padding-top: 120px;
    padding-bottom: 115px;
    background-color: #eff1f5;
}

.followerslist__title {
    width: 100%;
    padding: 28px 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    margin-bottom: 28px;
}

.followerslist__inner {
    margin-left: -40px;
    transform: translateX(40px);
    .slick-prev {
        right: 115px;
    }

    .slick-next {
        right: 70px;
    }
}

.followerslist__inner .slick-arrow {
    top: -90px;
    background-color: $blue;
}

.followerslist__inner .item-img__list {
    bottom: 0;
}

.followerslist__inner .products__item {
    flex-basis: 0;
    margin-left: 0;
}

// end followerslist

// start counter

.counter {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #212225;
}

.counter__inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.counter__item {
    text-align: center;
    &-img {
        font-size: 48px;
        margin-bottom: 45px;
    }
    &-numbers {
        font-size: 36px;
        margin-bottom: 15px;
    }
    &-text {
        font-size: 18px;
    }
    .lnr-briefcase,
    .numbers-yellow {
        color: #feb71d;
    }
    .lnr-cloud-download,
    .numbers-blue {
        color: #58c9e9;
    }
    .lnr-smile,
    .numbers-green {
        color: #77de51;
    }
    .lnr-users,
    .numbers-red {
        color: #ff6a6d;
    }
}

// end counter

// start benefits

.benefits {
    padding-top: 115px;
    padding-bottom: 115px;
    background-color: #fff;
    text-align: center;
    .benefits__title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
        span {
            color: $blue;
        }
    }
    .benefits__text {
        color: #555;
        max-width: 680px;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    .benefits__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.benefits__item {
    display: flex;
    flex-direction: column;
    float: 1 1 auto;
    max-width: 370px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    padding: 55px 30px;
    position: relative;
    span {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 48px;
        font-weight: 300;
        color: rgba(92, 135, 248, 0.2);
    }
    &-img {
        font-size: 60px;
        margin-bottom: 50px;
    }
    .lnr-license {
        color: $blue;
    }
    .lnr-magic-wand {
        color: $purple;
    }
    .lnr-lock {
        color: $green;
    }
    .lnr-chart-bars {
        color: #feb71d;
    }
    .lnr-leaf {
        color: #58c9e9;
    }
    .lnr-phone {
        color: $tomato;
    }
    &-title {
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }
    &-text {
        color: #555;
    }
}

// end benefits

// start proposal

.proposal__inner {
    display: flex;
    .proposal__item {
        width: 50%;
        text-align: center;
        color: #fff;
        &-img {
            margin-bottom: 50px;
        }
        &-title {
            font-size: 36px;
            margin-bottom: 30px;
        }
        &-text {
            margin-bottom: 50px;
        }
        &-btn {
            background-color: #fff;
            padding: 10px 25px;
            border-radius: 25px;
            color: #0674ec;
        }
    }
}

.proposal__item--sell-bg,
.proposal__item--start-bg {
    padding: 100px 50px;
    background-color: #0674ec;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.proposal__item--start-bg {
    background-color: #7347c1;
    .proposal__item-btn {
        color: #7347c1;
    }
}

// end proposal

// start feedback

.feedback {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    &__title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
        span {
            color: $blue;
        }
    }
    &__text {
        color: #555;
        max-width: 680px;
        margin: 0 auto;
        margin-bottom: 55px;
    }
}

.feedback__inner {
    display: flex;
    text-align: left;
    margin-bottom: 60px;
    .feedback__item + .feedback__item {
        margin-left: 30px;
    }
    .feedback__item {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 50%;
        border-left: 2px solid $blue;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 45px 35px;
        &-author {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            position: relative;
            .feedback__item-author--img {
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 1px solid #808080;
                    margin-right: 20px;
                }
            }
            span {
                position: absolute;
                right: 0;
                color: #e8e8e8;
                font-size: 60px;
            }
            .feedback__item-author--name {
                font-size: 20px;
                color: #000;
            }
            .feedback__item-author--category {
                color: #555;
            }
        }
    }
}
.feedback-btn {
    background-color: $blue;
    padding: 10px 25px;
    border-radius: 25px;
    color: #fff;
}

// end feedback

// start news

.news {
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    .news__title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
        span {
            color: $blue;
        }
    }
    .news__text {
        color: #555;
        max-width: 680px;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    .news__inner {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    .news__item {
        max-width: 370px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        &-img {
            img {
                max-width: 370px;
                height: 230px;
                border-radius: 4px 4px 0 0;
                object-fit: cover;
            }
        }
        &-content {
            padding: 25px 30px;
            .news__item-title {
                font-size: 22px;
                font-weight: 500;
                color: #000;
                margin-bottom: 25px;
            }
            .news__item-text {
                color: #555;
            }
        }
    }
    .news__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 10px 30px;
        border-top: 1px solid #ececec;
        color: #7e7e7e;
        .news__item-date {
            color: #999;
            &::before {
                color: $blue;
                font-family: "Linearicons-Free";
            }
        }
        .news__item-comments {
            border-left: 1px solid #ececec;
            padding: 10px 0px 10px 30px;
            &::before {
                font-family: "Linearicons-Free";
            }
        }
        .news__item-views {
            padding: 10px 0px;
            &::before {
                font-family: "Linearicons-Free";
            }
        }
    }
}

// end news

// start privilege

.privilege__inner {
    display: flex;
    .privilege__item + .privilege__item {
        border-left: 1px solid #e8eaf3;
    }
    .privilege__item {
        width: 50%;
        text-align: center;
        padding: 60px 30px;
        &-icons {
            margin-bottom: 25px;
        }
        &-title {
            font-size: 24px;
            color: #000;
            span {
                color: $blue;
            }
        }
    }
    .privilege__item-title--support {
        span {
            color: $purple;
        }
    }
}

// end privilege

// start join

.join {
    background-image: linear-gradient(270deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
    opacity: 0.902;
    padding: 110px 20px;
    text-align: center;
    color: #fff;
}

.join__inner-title {
    font-size: 36px;
    margin-bottom: 25px;
}

.join__inner-text {
    font-size: 18px;
    margin-bottom: 50px;
}

.join__inner-btn {
    background-color: #fff;
    padding: 10px 40px;
    color: $blue;
    border-radius: 25px;
}

// end join

// start footer

.footer {
    background-color: #262b30;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
        color: #ababab;
        font-size: 15px;
    }
    .footer__col {
        max-width: 270px;
        width: 100%;
        &-menu {
            max-width: 135px;
        }
        &-social {
            max-width: 365px;
        }
        &-title {
            font-size: 18px;
            color: #fff;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        &-logo {
            margin-top: 0;
        }
        .footer__col-text,
        .footer__social-text {
            line-height: 28px;
            margin-bottom: 30px;
        }
        .footer__info {
            padding-left: 30px;
            margin-bottom: 5px;
            color: #ababab;
            line-height: 26px;
            position: relative;
            &::before {
                position: absolute;
                left: 0;
                font-family: 'Linearicons-Free';
                font-size: 16px;
                color: #fff;
            }
            &-phone {
                &::before {
                    content: "\e830";
                }
            }
            &-email {
                &::before {
                    content: "\e818";
                }
            }
            &-adres {
                &::before {
                    top: 15px;
                    content: "\e833";
                }
            }
        }
        &-list {
            li {
                height: 15px;
            }
            li + li {
                margin-top: 15px;
            }
            a {
                color: #ababab;
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
    .footer__form {
        margin-bottom: 45px;
        position: relative;
        input {
            border: none;
            outline: none;
            background-color: #fff;
            padding: 0 120px 0 30px;
            border-radius: 25px;
            height: 50px;
            width: 100%;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            outline: none;
            background-color: $blue;
            color: #fff;
            height: 100%;
            width: 110px;
            border-radius: 25px;
            cursor: pointer;
        }
    }
    .footer__social-link {
        li {
            display: inline-block;
        }
        li + li {
            margin-left: 10px;
        }
    }
    .footer__copy {
        text-align: center;
        padding: 35px 20px;
        background-color: #192027;
        color: #999999;
        font-size: 15px;
        .footer__copy-text {
            span {
                color: #fff;
            }
        }
    }
}

// end footer