@import 'vars';
@import 'global';
@import 'fonts';

// start header
.header__top {
    background-color: $bg;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__top-box {
    display: flex;
    align-items: center;
    .notification,
    .message,
    .basket {
        font-family: 'Linearicons-Free';
        font-size: 20px;
        color: #7e8fa1;
    }
    .header__circle {
        position: relative;
        width: 35px;
        height: 35px;
        span {
            font-family: 'Quicksand', sans-serif;
            font-weight: 500;
            position: absolute;
            min-width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            padding: 1px;
            right: -3px;
            top: -13px;
            font-size: 14px;
            color: #fff;
        }
    }
    .notification {
        margin-right: 20px;
        span {
            background-color: $tomato;
        }
    }
    .message {
        margin-right: 20px;
        span {
            background-color: $green;
        }
    }
    .basket {
        margin-right: 25px;
        span {
            background-color: $blue;
        }
    }
    .user {
        &__inner {
            display: flex;
            align-items: center;
        }
        &__images {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 20px;
        }
        &__name {
            color: #333;
            font-weight: 500;
        }
        &__money {
            font-size: 15px;
            color: $blue;
        }
    }
}

.header__top-btn {
    padding: 10px 20px;
    background-color: $blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-right: 50px;
    a {
        color: #fff;
        font-size: 14px;
        line-height: 28px;
    }
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 30px;
        }
    }
    a {
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        color: #333;
    }
}

.header__menu-search {
    max-width: 360px;
    width: 100%;
}

.menu-search__form {
    position: relative;
    input {
        display: block;
        width: 100%;
        height: 45px;
        padding-left: 26px;
        outline: none;
        padding-right: 80px;
        border-radius: 25px;
        border: 1px solid #d9dfe5;
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        font-family: 'Linearicons-Free';
        position: absolute;
        color: #fff;
        background-color: $blue;
        border-radius: 25px;
        height: 45px;
        width: 70px;
        outline: none;
        border: none;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}
// end header

// start create
.create {
    background-image: linear-gradient( 180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 80%);
}

.create__inner {
    text-align: center;
    padding: 180px 0 230px;
    max-width: 880px;
    color: $white;
    margin: 0 auto;
    &-title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 40px;
        span {
            display: block;
            font-weight: 700;
        }
    }
    &-text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }
    &-btn {
        a {
            padding: 16px 30px;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 30px;
            &:hover {
                background-color: #fff;
                color: $blue;
                transition: all .3s;
            }
            &+a {
                margin-left: 30px;
            }
        }
    }
}
// end create

// start search
.search {
    position: relative;
}

.search__inner-shadow {
    max-width: 1140px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.502;
    margin-left: 15px;
    position: absolute;
    bottom: 20px;
    z-index: 4;
}

.search__inner-shadow-2 {
    max-width: 1110px;
    bottom: 35px;
    margin-left: 30px;
}

.search__inner {
    max-width: 1170px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 25px 40px;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    bottom: -50px;
    z-index: 5;
}

.search__inner-form {
    text-align: center;
    input {
        max-width: 610px;
        border: 1px solid #dcdcdc;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        height: 55px;
        padding: 0 25px 0 25px;
        color: #606060;
        outline: none;
        width: 100%;
    }
    select {
        position: relative;
        width: 200px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 0 20px 0 20px;
        margin-left: -6px;
        color: #606060;
        height: 55px;
        border: 1px solid #dcdcdc;
        background-image: url('../images/chevron-down.png');
        background-repeat: no-repeat;
        background-position: right 20px center;
        appearance: none;
        outline: none;
        cursor: pointer;
        transition: all 0.5s;
    }
    button {
        margin-left: 28px;
        border-radius: 6px;
        height: 55px;
        background-color: $blue;
        border: none;
        color: #fff;
        outline: none;
        width: 220px;
        cursor: pointer;
    }
}

// end search

// start advantages
.advantages__inner {
    padding-top: 180px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: center;
    max-width: 360px;
    padding: 32px;
    border-radius: 4px;
    transition: all .3s;
    &-images {
        margin-bottom: 20px;
        height: 120px;
    }
    &-title {
        margin-bottom: 20px;
        font-size: 24px;
        color: #000;
    }
    &-text {
        color: #555;
    }
    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}
// end advantages

// start product-slider

.product-slider {
    background-color: $bg;
    padding-top: 120px;
    padding-bottom: 120px;
    &__title {
        width: 100%;
        padding: 28px 40px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        background-color: #fff;
        margin-bottom: 50px;
        position: relative;
    }
}

.slick-arrow {
    position: absolute;
    border: none;
    outline: none;
    padding: 12px 20px;
    background-color: $purple;
    color: #fff;
    top: -112px;
    z-index: 5;
    cursor: pointer;
}

.slick-prev {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    right: 75px;
    &::before {
        font-size: 0;
    }
}

.slick-next {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    right: 30px;
    &::before {
        font-size: 0;
    }
}

.product-slider__item {
    display: flex !important;
    align-items: center;
    background-color: #fff;
    .product-slider__item-img {
        background-color: #4e5760;
        max-width: 555px;
        width: 100%;
        object-fit: cover;
        height: 450px;
    }

    &-content {
        max-width: 585px;
        padding: 45px 50px 0px 45px;
        .product-slider__item-title {
            font-size: 24px;
            font-weight: 500;
            color: #000;
            margin-bottom: 15px;
        }
        .product-slider__item-info {
            display: flex;
            margin-bottom: 30px;
            .product-slider__info-author {
                display: flex;
                img {
                    width: 32px;
                    height: 32px;
                    border: 1px solid $purple;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .info-author__name {
                    font-size: 15px;
                    color: #000;
                    margin-right: 20px;
                }
            }
            .product-slider__info-category {
                color: $purple;
                padding-left: 26px;
                background-repeat: no-repeat;
                background-position: left 7px;
            }
        }
        .product-slider__item-text {
            color: #555;
            margin-bottom: 25px;
        }
        .product-slider__item-category {
            margin-bottom: 25px;
            a + a {
                margin-left: 6px;
            }
            a {
                color: #868c96;
                font-size: 15px;
                background-color: #f1f3f6;
                border-radius: 25px;
                padding: 5px 10px;
            }
        }
        .product-slider__price-box {
            display: flex;
            align-items: center;
            height: 80px;
            border-top: 1px solid #cecece;
            position: relative;
            .product-slider__item-price {
                background-color: $blue;
                padding: 5px 17px;
                border-radius: 25px;
                color: #fff;
                font-weight: 500;
                font-size: 15px;
                margin-right: 20px;
            }
            .product-slider__item-list {
                .item-list__icon {
                    font-family: 'Linearicons-Free';
                    font-size: 15px;
                }
                span + span {
                    margin-left: 20px;
                }
                .lnr-heart {
                    color: $purple;
                    span {
                        color: #555;
                    }
                }
                .lnr-cart {
                    color: $blue;
                }
                span {
                    font-family: 'Quicksand', sans-serif;
                    margin-left: 10px;
                }
            }
            .product-slider__item-star {
                position: absolute;
                right: 0;
            }
            .jq-ry-container {
                padding: 0;
            }
        }
    }
}


// end product-slider

// start products

.products {
    background-color: #f6f7fb;
    padding-top: 120px;
    padding-bottom: 120px;
}

.products__filter-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 28px 40px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    margin-bottom: 28px;
    .products__filter {
        position: relative;
    }
    .products__bottom-btn {
        background-image: url('../images/icons/filter.png');
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        outline: none;
        height: 20px;
        margin: 0;
        width: 5px;
        background-color: transparent;
        position: absolute;
        top: 7px;
        cursor: pointer;
    }
}

.products__inner-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    padding: 28px 40px;
    margin-bottom: 50px;
    button + button {
        margin-left: 10px;
    }
    button {
        border: none;
        outline: none;
        background-color: #f1f3f6;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 25px;
        color: #747b86;
        cursor: pointer;
    }
}

.products__inner-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
}

.products__item {
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: #fff;
    margin-bottom: 45px;
    flex-basis: calc(33.33333% - 45px);
    margin-left: 45px;
    &-img {
        position: relative;
        img {
            max-width: 360px;
            height: 230px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        } 
        .item-img__list {
            position: absolute;
            bottom: 9px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background-image: linear-gradient( 270deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
            display: flex;
            height: 0;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow: hidden;
            transition: all 0.5s;
            a + a {
                margin-left: 10px;
            }
            a {
                color: #fff;
                font-size: 15px;
                font-weight: 500;
                border: 1px solid #fff;
                border-radius: 25px;
                padding: 10px 30px;
                &:hover {
                    background-color: #fff;
                    color: $blue;
                    transition: all .3s;
                }
            }
        }
    }
    .products__item-img:hover .item-img__list {
        height: 230px;
    }
}

.products__item-content {
    padding: 20px 30px 30px 30px;
}

.products__item-title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    margin-bottom: 18px;
}

.products__item-info {
    display: flex;
    margin-bottom: 20px;
    .products__info-author {
        display: flex;
        margin-right: 20px;
        font-size: 15px;
        .info-author__img {
            width: 30px;
            margin-right: 7px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $purple;
            }
        }
        .info-author__name {
            color: #000;
        }
    }
    .products__info-category {
        padding-left: 26px;
        color: $purple;
        background-repeat: no-repeat;
        background-position: left 7px;

    }
}

.products__item-text {
    color: #555;
}

.products__price-box {
    display: flex;
    align-items: center;
    border-top: 1px solid #ececec;
    position: relative;
    padding: 15px 30px;
    .products__item-price {
        padding: 9px 18px;
        color: $blue;
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        margin-right: 13px;
        background-color: #e6f1fd;
        border-radius: 25px;
        position: relative;
    }
    .products__item-list {
        display: flex;
        .lnr-heart {
            color: $purple;
            margin-right: 15px;
            span {
                margin-left: 8px;
                color: #6f7d8d;
            }
        }
        .lnr-cart {
            color: $blue;
            position: absolute;
            right: 30px;
            span {
                margin-left: 8px;
            }
        }
    }
    .products__item-star {
        display: flex;
        align-items: center;
    }
}

.products__bottom-btn {
    margin-top: 15px;
    text-align: center;
    button {
        background-color: $blue;
        color: #fff;
        padding: 17px 30px;
        border: none;
        outline: none;
        line-height: 16px;
        border-radius: 25px;
        cursor: pointer;
    }
}

  
// end products
  